body {
  background: #2c2b3d;

  font-family: "JetBrains Mono", monospace;

  min-height: 100vh;
}

.page {
  width: 1100px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 110px;
  padding-top: 70px;
}

p, h1 {
    margin: 0;
}

.logo {
  width: 168px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 64px;
}

li {
  list-style: none;
}

li a {
  color: white;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 160px;
}

section {
  text-align: center;
}

section h1 {
  font-size: 36px;
  line-height: 40px;

  margin-bottom: 60px;
}

section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  line-height: 28px;

  width: 604px;
}

p strong {
  color: #00bfa6;
}

h1 {
  color: white;
}

h1 span {
  color: #00bfa6;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 23px;
}

.line {
  width: 568px;
  margin-bottom: 27px;

  border: 1px solid #00bfa6;
}

footer p, p a {
    color: #FFF
}

.padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
